# تليجرام
BOT_TOKEN=توكن_البوت_هنا
ADMIN_ID=معرف_الأدمن_هنا

# قاعدة البيانات (سيتم تعبئتها تلقائياً على Render)
DATABASE_URL=
REDIS_URL=

# القنوات (اختياري)
CHANNEL_SYR_CASH=
CHANNEL_SCH_CASH=
CHANNEL_ADMIN_LOGS=
CHANNEL_WITHDRAW=
CHANNEL_STATS=
CHANNEL_SUPPORT=