# ====================
# 🤖 إعدادات التليجرام
# ====================
BOT_TOKEN=8563127617:AAEqQh1bWM8k2gMFqmAWLUJvWTK3rFyp4k8
ADMIN_ID=814607765

# ====================
# 📢 القنوات
# ====================
CHANNEL_SYR_CASH=-1003597919374
CHANNEL_SCH_CASH=-1003464319533
CHANNEL_ADMIN_LOGS=-1003577468648
CHANNEL_WITHDRAW=-1003443113179
CHANNEL_STATS=-1003443113180
CHANNEL_SUPPORT=-1003443113181

# ====================
# 🗄️ قاعدة البيانات (سيتم تعبئتها تلقائياً على Render)
# ====================
DATABASE_URL=
REDIS_URL=

# ====================
# ⚙️ إعدادات النظام
# ====================
MIN_DEPOSIT=500
MAX_DEPOSIT=100000
MIN_WITHDRAW=1000
MAX_WITHDRAW=50000
SYRIATEL_CODE_LIMIT=5400